In [1]:
import pandas as pd
import numpy as np

In [2]:
path="/home/sultan/EEG/Source_Level_Analysis/100sam_10ms_clear_all_erp.csv"

In [3]:
Metadata=pd.read_csv(path)
Metadata.head(2)

,Unnamed: 0,label,0,1,2,3,4,5,6,7,...,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427
0,0,0.0,7.534168e-11,6.231124e-10,-7.806000e-10,-8.063316e-10,4.260259e-10,8.792373e-11,-2.653489e-10,2.412203e-10,...,1.956881e-10,2.334939e-10,-7.550422e-11,1.972939e-10,3.158191e-10,2.702473e-10,2.155772e-10,2.427227e-10,-1.328829e-10,-5.014970e-10
1,1,0.0,2.256533e-10,1.718130e-10,1.905604e-11,1.276511e-11,-1.379325e-10,-6.269328e-11,-2.930309e-10,2.040993e-10,...,2.343108e-10,2.950671e-11,-2.800265e-10,1.916018e-10,2.510715e-10,1.861655e-10,-2.830894e-10,2.069608e-10,-7.302684e-11,-2.662402e-10

In [4]:
X=Metadata.iloc[:,2:]
y=Metadata['label']
X.shape

(1863, 1428)

In [5]:
Xb=X.iloc[:,0:68]
Xb.head(2)

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,7.534168e-11,6.231124e-10,-7.806000e-10,-8.063316e-10,4.260259e-10,8.792373e-11,-2.653489e-10,2.412203e-10,2.220042e-10,3.503915e-10,...,1.972488e-10,2.002041e-10,-1.951222e-10,1.637243e-10,6.203294e-11,3.221977e-10,-3.095008e-10,1.595967e-10,-2.458448e-10,-4.232983e-10
1,2.256533e-10,1.718130e-10,1.905604e-11,1.276511e-11,-1.379325e-10,-6.269328e-11,-2.930309e-10,2.040993e-10,1.751671e-10,1.426514e-10,...,1.947518e-10,2.252425e-12,-3.624161e-11,-6.348356e-11,2.857398e-10,-5.029058e-12,4.187237e-10,4.892385e-10,-2.752292e-10,-6.018853e-11

In [6]:
a=np.zeros([1863,1])
k=0;j=68
for i in range(0,21):
#     print k,j 
    X1=X.iloc[:,k:j]
    k=k+68; j=j+68
    G=np.asarray(Xb)
    H=np.asarray(X1)
    sub=(H-G)
    a = np.append(a, sub, axis = 1)
ab=np.delete(a,0,1)
nor=pd.DataFrame(ab)
nor.shape

(1863, 1428)

In [8]:
ddd=pd.concat([y,nor], axis=1)
# ddd.to_csv('Baseline_100sam_10ms_clear_all_erp.csv')

In [7]:
# # dd.iloc[1:10,60:]
# sub.shape
# aa=pd.DataFrame(a)
# aa.iloc[0,69]

In [9]:
# ab=np.delete(a,0,1)

In [10]:
# X1=X.iloc[:,68:136]
# X1.head(2)
# G=np.asarray(Xb)
# H=np.asarray(X1)
# sub=(H-G)
# sub

In [11]:
# nor=pd.DataFrame(ab)
# # nor.iloc[:,68:70]
# nor.shape

In [12]:
type(nor)

pandas.core.frame.DataFrame

In [17]:
y=ddd['label']
X=ddd.iloc[:,1:]
X.shape
# ddd

(1863, 1428)