In [1]:
import pandas as pd
import numpy as np

In [19]:
# path="/home/sultan/EEG/Source_Level_Analysis/100sam_10ms_clear_all_erp.csv"
path="/home/sultan/EEG/Source_Level_Analysis/100sam_10ms_noise_all_erp.csv"

In [20]:
Metadata=pd.read_csv(path)
Metadata.head(2)

,Unnamed: 0,label,0,1,2,3,4,5,6,7,...,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427
0,0,0.0,4.270001e-10,1.756739e-10,-1.582226e-10,-1.382528e-10,-1.566167e-10,-1.135809e-10,-1.100892e-10,-1.589276e-10,...,1.110038e-10,1.152507e-10,-2.399226e-10,3.433448e-10,2.240594e-10,3.181698e-10,-1.644904e-10,1.001664e-10,-5.799119e-11,-4.880700e-10
1,1,0.0,5.456352e-10,2.865467e-10,-2.532695e-10,-2.100140e-10,-2.099953e-10,-5.603980e-12,-2.883015e-10,1.572863e-11,...,8.383168e-11,2.517060e-10,-8.620627e-11,2.037169e-10,2.261165e-10,3.166203e-10,-7.354289e-11,-5.902324e-11,-4.279494e-11,-3.508126e-10

In [34]:
X=Metadata.iloc[:,2:]
y=Metadata['label']
X.shape

(1804, 1428)

In [29]:
Xb=X.iloc[:,0:68]
Xb.head(2)

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,4.270001e-10,1.756739e-10,-1.582226e-10,-1.382528e-10,-1.566167e-10,-1.135809e-10,-1.100892e-10,-1.589276e-10,-3.512217e-12,-5.245257e-11,...,-2.779636e-11,4.745396e-10,-9.481616e-11,2.358043e-10,3.300791e-10,3.991048e-10,4.561384e-10,8.990040e-13,-2.293420e-10,-2.329473e-10
1,5.456352e-10,2.865467e-10,-2.532695e-10,-2.100140e-10,-2.099953e-10,-5.603980e-12,-2.883015e-10,1.572863e-11,-1.846879e-10,8.698757e-11,...,8.092645e-11,3.905942e-10,-1.643150e-10,1.117934e-10,4.950103e-10,3.025541e-10,3.222364e-10,2.995943e-10,-2.003572e-10,-1.947235e-10

In [30]:
a=np.zeros([X.shape[0],1])
k=0;j=68
for i in range(0,21):
#     print k,j 
    X1=X.iloc[:,k:j]
    k=k+68; j=j+68
    G=np.asarray(Xb)
    H=np.asarray(X1)
    sub=(H-G)
    a = np.append(a, sub, axis = 1)
ab=np.delete(a,0,1)
nor=pd.DataFrame(ab)
nor.shape

(1804, 1428)

In [35]:
ddd=pd.concat([y,nor], axis=1)
# ddd.to_csv('Baseline_100sam_10ms_clear_all_erp.csv')
ddd.to_csv('Baseline_100sam_10ms_noise_all_erp.csv')

In [32]:
# # dd.iloc[1:10,60:]
# sub.shape
# aa=pd.DataFrame(a)
# aa.iloc[0,69]

In [9]:
# ab=np.delete(a,0,1)

In [10]:
# X1=X.iloc[:,68:136]
# X1.head(2)
# G=np.asarray(Xb)
# H=np.asarray(X1)
# sub=(H-G)
# sub

In [11]:
# nor=pd.DataFrame(ab)
# # nor.iloc[:,68:70]
# nor.shape

In [12]:
type(nor)

pandas.core.frame.DataFrame

In [24]:
y=ddd['label']
X=ddd.iloc[:,1:]
X.shape
# ddd

(1863, 1428)

In [33]:
y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
       ...
1774    1.0
1775    1.0
1776    1.0
1777    1.0
1778    1.0
1779    1.0
1780    1.0
1781    1.0
1782    1.0
1783    1.0
1784    1.0
1785    1.0
1786    1.0
1787    1.0
1788    1.0
1789    1.0
1790    1.0
1791    1.0
1792    1.0
1793    1.0
1794    1.0
1795    1.0
1796    1.0
1797    1.0
1798    1.0
1799    1.0
1800    1.0
1801    1.0
1802    1.0
1803    1.0
Name: label, Length: 1804, dtype: float64